<a href="https://colab.research.google.com/github/ReginaFierro2000/Artificial-intelligence/blob/main/Grafo2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import numpy as np
from sklearn.cluster import SpectralClustering, KMeans
from sklearn import metrics
import pandas as pd
from sklearn.metrics import pairwise_distances
from matplotlib import pyplot as plt
import networkx as nx
import seaborn as sns
sns.set()

https://www.kaggle.com/code/vipulgandhi/spectral-clustering-detailed-explanation

In [5]:
df2 = pd.read_csv("/content/database.csv")
df2.head()

,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,Magnitude Type,...,Magnitude Seismic Stations,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status
0,01/02/1965,13:44:18,19.246,145.616,Earthquake,131.6,NaN,NaN,6.0,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860706,ISCGEM,ISCGEM,ISCGEM,Automatic
1,01/04/1965,11:29:49,1.863,127.352,Earthquake,80.0,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860737,ISCGEM,ISCGEM,ISCGEM,Automatic
2,01/05/1965,18:05:58,-20.579,-173.972,Earthquake,20.0,NaN,NaN,6.2,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860762,ISCGEM,ISCGEM,ISCGEM,Automatic
3,01/08/1965,18:49:43,-59.076,-23.557,Earthquake,15.0,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860856,ISCGEM,ISCGEM,ISCGEM,Automatic
4,01/09/1965,13:32:50,11.938,126.427,Earthquake,15.0,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860890,ISCGEM,ISCGEM,ISCGEM,Automatic

In [3]:
df2.dtypes

Date                           object
Time                           object
Latitude                      float64
Longitude                     float64
Type                           object
Depth                         float64
Depth Error                   float64
Depth Seismic Stations        float64
Magnitude                     float64
Magnitude Type                 object
Magnitude Error               float64
Magnitude Seismic Stations    float64
Azimuthal Gap                 float64
Horizontal Distance           float64
Horizontal Error              float64
Root Mean Square              float64
ID                             object
Source                         object
Location Source                object
Magnitude Source               object
Status                         object
dtype: object

In [6]:
del df2['Date']
del df2['Time']
del df2['Type']
del df2['Magnitude Type'] # Esta funcion es INPLACE #del df2['']
del df2['Root Mean Square']
del df2['ID']
del df2['Source']
del df2['Location Source']
del df2['Magnitude Source']
del df2['Status']

del df2['Depth Error']
del df2['Depth Seismic Stations']
del df2['Magnitude Error']
del df2['Magnitude Seismic Stations']
del df2['Azimuthal Gap']
del df2['Horizontal Distance']
del df2['Horizontal Error']

#df2.dropna(axis=0) # Eliminar todas las filas que tengan datos faltantes
#df2.dropna(axis=1) # Eliminar todas las columnas que tengan datos faltantes

df2

       Latitude  Longitude   Depth  Magnitude
0       19.2460   145.6160  131.60        6.0
1        1.8630   127.3520   80.00        5.8
2      -20.5790  -173.9720   20.00        6.2
3      -59.0760   -23.5570   15.00        5.8
4       11.9380   126.4270   15.00        5.8
...         ...        ...     ...        ...
23407   38.3917  -118.8941   12.30        5.6
23408   38.3777  -118.8957    8.80        5.5
23409   36.9179   140.4262   10.00        5.9
23410   -9.0283   118.6639   79.00        6.3
23411   37.3973   141.4103   11.94        5.5

[23412 rows x 4 columns]

In [12]:
adj_mat2 = np.array(df2)
print(adj_mat2)

[[  19.246   145.616   131.6       6.    ]
 [   1.863   127.352    80.        5.8   ]
 [ -20.579  -173.972    20.        6.2   ]
 ...
 [  36.9179  140.4262   10.        5.9   ]
 [  -9.0283  118.6639   79.        6.3   ]
 [  37.3973  141.4103   11.94      5.5   ]]

In [9]:
# Preprocessing the data to make it visualizable 
from sklearn.preprocessing import StandardScaler, normalize  
from sklearn.decomposition import PCA 
# Scaling the Data 
scaler = StandardScaler() 
X_scaled = scaler.fit_transform(df2) 
  
# Normalizing the Data 
X_normalized = normalize(X_scaled) 
  
# Converting the numpy array into a pandas DataFrame 
X_normalized = pd.DataFrame(X_normalized) 
  
# Reducing the dimensions of the data 
pca = PCA(n_components = 2) 
X_principal = pca.fit_transform(X_normalized) 
X_principal = pd.DataFrame(X_principal) 
X_principal.columns = ['P1', 'P2'] 

X_principal.head(2)

         P1        P2
0 -0.704664  0.276562
1 -0.775594 -0.388327

In [ ]:
# Building the clustering model 
spectral_model_rbf = SpectralClustering(n_clusters = 2, affinity ='rbf') 
  
# Training the model and Storing the predicted cluster labels 
labels_rbf = spectral_model_rbf.fit_predict(X_principal)